[submodule "third_party/aie-rt"]
	path = third_party/aie-rt
	url = https://github.com/stephenneuendorffer/aie-rt
[submodule "third_party/XRT"]
	path = third_party/XRT
	url = https://github.com/Xilinx/XRT.git
[submodule "third_party/bootgen"]
	path = third_party/bootgen
	url = https://github.com/Xilinx/bootgen.git
